<div
  class="bookItemContainer"
>
  <div
    fxLayout="row"
  >
    <div
      class="image-desk"
    >
      <img src="assets/big-image.png">
    </div>
    <div
      fxLayout="column"
      fxLayoutAlign=""
    >
      <p>Part Dieu company</p>
      <p>1 rue du grand, Lyon</p>
      <span>28-29 Juin</span>

      <div>
        <p>Jean Damien</p>
        <span>0576576787</span>
      </div>

      <div
        fxLayout="row"
        class="button-container"
        fxLayoutAlign="space-between end"
      >
        <button type="submit" class="btn btn-primary">Télécharger facture</button>
        <button type="submit" class="btn btn-primary">Contrat de location</button>
        <button type="submit" class="btn btn-primary">Annuler la réservation</button>
      </div>
    </div>
  </div>
</div>
