<div
  class="bookItemContainer"
>
  <div
    fxLayout="row"
  >
    <carousel
      [interval]="0"
      class="image-desk"
    >
      <slide
        *ngFor="let imag of desk?.image | keyvalue"
      >
        <img [src]="'assets/'+imag.value" class="card-img-top" alt="...">
      </slide>
    </carousel>
    <div
      fxLayout="column"
      fxLayoutAlign=""
    >
      <p>{{desk.address}}</p>
      <p>{{desk.zipCode}} {{desk.city}}</p>
      <span>28-29 Juin</span>

      <div>
        <p>Jean Damien</p>
        <span>0576576787</span>
      </div>

      <div
        fxLayout="row"
        class="button-container"
        fxLayoutAlign="space-between end"
      >
        <button type="submit" class="btn btn-primary">Modifier l'annonce</button>
      </div>
    </div>
  </div>
</div>
