<div
  class="bookItemContainer"
>
  <div
    fxLayout="row"
  >
    <carousel
      [interval]="0"
      class="image-desk"
    >
      <slide
        *ngFor="let imag of desk?.image | keyvalue"
      >
        <img [src]="'assets/'+imag.value" class="card-img-top" alt="...">
      </slide>
    </carousel>
    <div
      fxLayout="column"
      fxLayoutAlign=""
    >
      <p>{{desk.address}}</p>
      <p>{{desk.zipCode}} {{desk.city}}</p>
      <span style="text-transform: capitalize">{{desk.status_desks_id}}</span>

      <div>
        <p>{{user.firstName}} {{user.lastName}}</p>
        <span>{{user.phoneNumber}}</span>
      </div>

      <div
        fxLayout="row"
        class="button-container"
        fxLayoutAlign="space-between end"
      >
        <button type="submit" class="btn btn-primary" [routerLink]="'/'+desk.id+'/edit'">Modifier l'annonce</button>
        <button type="submit" class="btn btn-primary" [routerLink]="'/'+desk.id+'/detail'">Voir l'annonce</button>
      </div>
    </div>
  </div>
</div>
