h2 {
    padding-top : 50px;
    padding-bottom: 50px;
    padding-left: 100px;
}

section {
    display: flex;
    justify-content : space-around;

    button {
        display: flex;
        justify-content: center;
    align-items: center;
    background-clip: padding-box;
    background-color: #FF2768;
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    margin-top: 30px;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    }

    img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    }

  .text {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
  }
}
@media only screen and (min-width: 300px) {

  .certification {
    padding: 20px!important;
  }
  .text{
    width: auto!important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 601px) {
  .container {
    img {
      display: none!important;
    }
    div {
      margin: 0;
      margin-top : 20px;
    }
  }
  .container {
    padding: 20px;
    flex-wrap: wrap!important;

    img {
      border-radius: 50%;
      height: 100px;
      width: 100px;
    }
  }
  h1 {
    display: none;
  }
  form {
    width: 350px;
    padding: 30px;
  }
  .certification {
    flex-wrap: wrap!important;
    justify-content: center;
    width: 100%;
    place-content: center!important;
    padding: 20px!important;
  }

  h2 {
    padding-top : 10px;
    padding-bottom: 5px;
    padding-left: 10px;
  }

  mat-form-field {
    margin: 0!important;
  }
  .img {
    display: none!important;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  /* Vos styles spécifiques pour les tablettes en mode paysage */
  .text {
    font-size: 12px!important;
  }
  h5 {
    font-size: 14px!important;
  }
  .certification {
    flex-wrap: wrap!important;
    justify-content: center;
    width: 100%;
    place-content: center!important;
    padding: 20px!important;
  }
  mat-form-field {
    margin: 0!important;
  }
  .text {
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* Vos styles spécifiques pour les ordinateurs portables et de bureau */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* Vos styles spécifiques pour les grands ordinateurs portables et de bureau */
}
