<div
  fxlayout="column"
  class="rent-detail-container"
>
  <p>Part Dieu Tour Britania, 25 Rue Paul Bert</p>
  <span>Lyon 69003</span>
  <div
    class="image-container"
  >
    <div
      class="big-display"
    >
      <img src="assets/big-image.png">
    </div>
    <div
      class="small-display"
    >
      <img src="assets/smal-image.png">
      <img src="assets/smal-image.png">
    </div>
  </div>

  <div
    fxLayout="row"
    class="detail-info"
  >
    <div
      class="listing-container"
    >
      <mat-list role="list">
        <mat-list-item role="listitem">Dome hosted par Dorothée</mat-list-item>
        <mat-list-item role="listitem">
          <div
            fxlayout="row"
          >
            <mat-icon>star</mat-icon>
            <div
              fxlayout="column"
            >
              <p>Loueur expérimenter</p>
              <span>Dorothée à 720 location à son actif</span>
            </div>
          </div>
        </mat-list-item>
        <mat-list-item role="listitem">Item 3</mat-list-item>
      </mat-list>
    </div>

    <div>

    </div>
  </div>
</div>
