<div class="container" fxLayout="row" fxLayoutAlign="space-between center">
    <img class="img" src="../../assets/room.jpg">
    <div class="container" fxLayout="column" fxLayoutAlign="center">
        <div class="container" fxLayout="column" fxLayoutAlign="center">
            <p>Adresse</p>
            <p>date</p>
            <p>prix</p>
        </div>

        <div class="container" fxLayout="column" fxLayoutAlign="center" style=" margin-top: 15px;">
            <p>test</p>
            <p>test</p>
            <img class="img" id="profil" src="../../assets/user-profil.png">
        </div>
    </div>
</div>