<h2>
    Modifier votre mot de passe  
</h2>

<section class="container" id="password">
  
    <form class="form">
        <div class="form-group" style="margin-bottom: 20px">
            <div
            fxLayout="row"
            fxLayoutAlign="space-between center"
            >
                <mat-form-field style="width: 300px;">
                    <input matInput type="password" formControlName="password" placeholder="Mot de passe">
                </mat-form-field>

                <mat-form-field style="margin-left: 30px; width: 300px; margin-right: 30px">
                    <input matInput type="password" formControlName="password" placeholder="Nouveau mot de passe">
                </mat-form-field>


                <mat-form-field style="width: 300px;">
                    <input matInput type="password" formControlName="password" placeholder="Confirmation">
                </mat-form-field>
                </div>
        </div>
    
    
    <div fxLayoutAlign="center">
        <button fxLayoutAlign="center" type="submit" class="btn btn-primary">Mettre à jour</button>
    </div>
</form>  
    
</section>