<app-navbar></app-navbar>
<br>

<!-- Card 2  -->

<section>
    <h3>Dernières réservations sur le site </h3>
    <div class="card mb-3" style="max-width: 1540px;">
        <div class="row g-3">



            <h4>Date : Mardi 28 septembre</h4>


        </div>
        <!-- Colonne 1  -->
        <div class="row align-items-center">

            <div class="col-md-1">

                <img src="./assets/polina.jpg" class="img-fluid rounded-start" alt="...">
            </div>

            <!-- Colonne 2  -->
            <div class="col">
                <h5 class="card-title">Part dieu compagny </h5>
                <p class="card-text">1 rue grand rue, 69001 Lyon</p>

                <button type="button" class="btn btn-primary btn-sm">Small button</button>
                <p> </p>
                <button type="button" class="btn btn-secondary btn-sm">Small button</button>
            </div>

            <!-- Colonne 3  -->
            <div class="col">
                <img style="height: 40px; width: 40px; margin: 0 30px" src="assets/user-profil.png">
                <p>Monsieur Albre</p>
            </div>
            <!-- Colonne 4  -->
            <div class="col">
                <p> </p>
                <p>Prix : 30 €</p>
                <p>Heure : 12h00</p>
                <p>Assurance annulation : Non</p>
                <p>Actif : Oui </p>
                <p>Options : Wifi et petit déjeuner </p>
            </div>

            <!-- Colonne 5  -->
            <div class="col">
                <p>Heure : 12:01 </p>
                <p>Propriétaire : Alvin Matty </p>
                <p>Durée : 4H </p>
                <p>Nombre de collaborateur : 2 </p>
            </div>





        </div>
    </div>
</section>

<!-- Card 3 -->
<section>
    <div class="card mb-3" style="max-width: 1540px;">
        <div class="row g-3">



            <h4>Date : Mardi 28 septembre</h4>


        </div>
        <!-- Colonne 1  -->
        <div class="row align-items-center">

            <div class="col-md-1">

                <img src="./assets/polina.jpg" class="img-fluid rounded-start" alt="...">
            </div>

            <!-- Colonne 2  -->
            <div class="col">
                <h5 class="card-title">Part dieu compagny </h5>
                <p class="card-text">1 rue grand rue, 69001 Lyon</p>

                <button type="button" class="btn btn-primary btn-sm">Small button</button>
                <button type="button" class="btn btn-secondary btn-sm">Small button</button>
            </div>

            <!-- Colonne 3  -->
            <div class="col">
                <img style="height: 40px; width: 40px; margin: 0 30px" src="assets/user-profil.png">
                <p>Monsieur Albre</p>
            </div>
            <!-- Colonne 4  -->
            <div class="col">
                <p> </p>
                <p>Prix : 30 €</p>
                <p>Heure : 12h00</p>
                <p>Assurance annulation : Non</p>
                <p>Actif : Oui </p>
                <p>Options : Wifi et petit déjeuner </p>
            </div>

            <!-- Colonne 5  -->
            <div class="col">
                <p>Heure : 12:01 </p>
                <p>Propriétaire : Alvin Matty </p>
                <p>Durée : 4H </p>
                <p>Nombre de collaborateur : 2 </p>
            </div>





        </div>
    </div>
</section>