footer {
  position: fixed;
  bottom: 0;
  background-color: white;
  padding: 15px 0;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  width: 100%;
  z-index: 100;

  .container {

    p {
      font-size: 14px;
      margin: 0;
      padding-right: 10px;
    }
    a {
    color: black !important;;
    text-decoration: none; /* no underline */
    font-size: 14px;
    }
  }

  .footer-link {
    a {
      color: #7dc6e3;;
    }
  }
}



