<h2>
    Certification
</h2>


   
<section>
<div style="margin-bottom: 100px;" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="column" fxLayoutAlign="space-between center">
        <p style="width: 400px; margin-right: 50px ">Dans le cadre de la vérification de votre identité, nous allons procéder à quelques vérification ! Assurez vous de disposer de votre carte d’identité ainsi que d’une camera !</p>
        <button fxLayoutAlign="center" type="submit" class="btn btn-primary">Se faire certifier</button>
    </div>
    <img class="img" src="../../assets/id_check.PNG"><br>
</div>
</section>
