<div
  class="bookItemContainer"
>
  <div
    fxLayout="row"
  >
    <carousel
      [interval]="0"
      class="image-desk"
    >
      <slide
        *ngFor="let imag of desk?.images | keyvalue"
      >
        <img [src]="'assets/'+imag.value" class="card-img-top" alt="...">
      </slide>
    </carousel>
    <div
      fxLayout="column"
      fxLayoutAlign=""
    >
      <p>{{desk.adress}} {{desk.city}} {{desk.zipCode}}</p>
      <span>Date de début: {{book.startDate.date | date: 'dd-mm-yy'}}</span>
      <span>Date de de fin: {{book.endDate.date | date:'dd-mm-yy'}}</span>
      <div>
        <p>{{lender?.firstName}} {{lender?.lastName}}</p>
        <span>{{lender?.phoneNumber}}</span>
      </div>

      <div
        fxLayout="row"
        class="button-container"
        fxLayoutAlign="space-between end"
      >
        <button type="submit" class="btn btn-primary">Télécharger la facture</button>
        <button type="submit" class="btn btn-primary">Contrat de location</button>
      </div>
    </div>
  </div>
</div>
