<div class="form-container">

  <mat-card class="form-card">
    <div
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <img alt="" src="../../../assets/Logo-around-corner.png">
    </div>
    <form class="form" [formGroup]="userForm">
        <div class="form-group" style="margin-bottom: 20px">
          <label for="exampleInputEmail1">Email</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Entrez votre Email"
            formControlName="email" required
          >
          <small id="emailHelp" class="form-text text-muted">Nous ne communiquerons jamais votre adresse électronique à qui que ce soit..</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Entrer votre mot de passe"
            formControlName="password" required
          >
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          class="register">
          <a class="register-page" style="color: #FF2768" href="inscription">Je n'ai pas de compte</a>
          <a  class="mdp-forget" style="color: #7A7A7A;" href="login.component.html">Mot de pass oublier *</a>
        </div>
        <button type="submit" class="btn btn-primary" (click)="submit()">Connexion</button>
    </form>
  </mat-card>

</div>
