<div
  fxLayout="column"
  fxLayoutAlign="center center"
  class="how-works-container"
>
  <p>Comment ça marche</p>
  <div
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <div
      style="height: 250px; width: 250px; margin-right: 30px"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <img style="width: 100%" src="./assets/image%2011.png">
    </div>
    <div
      style="width: 50%"
    >
      <p>
        Besoins d’un espace dédié pendant votre home office ? Indépendant à la recherche de contact humain ? Freelance devant accueillir dans des locaux adaptés ?

        <br>
        Découvrez des bureaux disponibles à la journée répondant à vos besoins pour un prix abordable.

        <br>
        Vous disposez de locaux inoccupée ou dont vous vous servez partiellement ? Gagner un complément de revenu tout en étoffant votre carnet d’adresse !
      </p>
    </div>
  </div>
</div>
