@import "src/assets/variables";
:host {
  display: block;
  font-family: $font-outfit;
}

.addDesk-container {
    padding: 120px 30px;

  mat-form-field {
    padding: 20px 0 20px;
  }
  .upload-img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    background-color: #7A7A7A;
  }
  .image-container {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    background-color: #7A7A7A;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }

  }


  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #7A7A7A!important;
  }
  .desk-info {
    width: 450px;
  }

  button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 300px;
    border: none;
    background-color: #FF2768;
  }
  .description-container {
    height: 150px;
  }

  .add-desk-form {
    padding: 45px 0;
  }
  ::ng-deep .mdc-form-field>label {
    text-transform: uppercase;
  }
}
@media only screen and (max-width: 1404px) {


}
@media only screen and (max-height: 900px){
  .add-desk-form {
    flex-wrap: wrap!important;
    width: 100% !important;
    justify-content: center!important;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
  .addDesk-container {
    padding: 50px!important;
  }

  .desk-info {
    width: 298px!important;
  }

  .image-upload {
    padding: 50px;
    flex-wrap: wrap!important;
    justify-content: center!important;

    div {
      padding: 20px;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* Vos styles spécifiques pour les tablettes en mode paysage */
  .add-desk-form {
    justify-content: space-between!important;
    align-items: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* Vos styles spécifiques pour les ordinateurs portables et de bureau */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* Vos styles spécifiques pour les grands ordinateurs portables et de bureau */
}


