<div
  class="addDesk-container"
>
  <h5>Ajouter/Editer Un bureau</h5>

  <div
    [formGroup]="addDeskForm"
    fxLayout="row"
    fxLayoutAlign="space-around"
    class="add-desk-form"
  >
    <div
      fxLayout="column"
    >
      <div
        fxLayout="row"
        fxLayoutAlign="space-between"
        class="image-upload"
      >
        <div>
          <input type="file" #fileInput1 style="display: none;" (change)="onFileSelected1($event)">
          <div class="image-container" (click)="fileInput1.click()">
            <ng-container *ngIf="imageSrc1 || isUpdate; else uploadPrompt1">
              <img alt="" style="width: 100%;" [src]="isUpdate ? 'assets/'+images[0] : imageSrc1" alt="Image sélectionnée" />
            </ng-container>
            <ng-template #uploadPrompt1>
              <span>Cliquez ici pour choisir une image</span>
            </ng-template>
          </div>
        </div>
        <div>
          <input type="file" #fileInput2 style="display: none;" (change)="onFileSelected2($event)">
          <div class="image-container" (click)="fileInput2.click()">
            <ng-container *ngIf="imageSrc2 || isUpdate; else uploadPrompt">
              <img alt="" style="width: 100%;"  [src]="isUpdate ? 'assets/'+images[1] : imageSrc3" alt="Image sélectionnée" />
            </ng-container>
            <ng-template #uploadPrompt>
              <span>Cliquez ici pour choisir une image</span>
            </ng-template>
          </div>
        </div>
        <div>
          <input type="file" #fileInput3 style="display: none;" (change)="onFileSelected3($event)">
          <div class="image-container" (click)="fileInput3.click()">
            <ng-container *ngIf="imageSrc3 || isUpdate; else uploadPrompt">
              <img alt="" style="width: 100%;"  [src]="isUpdate ? 'assets/'+images[2] : imageSrc1" alt="Image sélectionnée" />
            </ng-container>
            <ng-template #uploadPrompt>
              <span>Cliquez ici pour choisir une image</span>
            </ng-template>
          </div>
        </div>

      </div>
      <div
        fxLayout="column"
      >
        <span>Description</span>
        <mat-form-field [style.fontSize]="12" appearance="fill">
          <mat-label>Entrer une description du bureu</mat-label>
          <textarea matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    formControlName="description"
                    class="description-container"
                    cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div
      class="desk-info"
    >
        <div
          fxLayout="row"
          fxLayoutAlign="space-between"
        >
          <mat-form-field style="width: 100%">
            <input matInput formControlName="address" placeholder="Adresse">
          </mat-form-field>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between"
        >
          <mat-form-field>
            <input matInput formControlName="city" placeholder="Ville">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="zipCode" placeholder="Code Postal">
          </mat-form-field>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between"
        >
          <mat-form-field>
            <input matInput type="number" formControlName="numberPlaces" placeholder="Nombre de place">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" formControlName="price" placeholder="Prix">
          </mat-form-field>
        </div>

        <div>
          <span>Types: </span>
          <mat-radio-group
            fxLayout="row wrap"
            aria-label="Select an option"
            formControlName="sdid"
            class="input-label">
            <mat-radio-button
              *ngFor="let type of types"  [value]="this.addDeskForm.get('sdid').value">{{type.name}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      <div
        formGroupName="options"
      >
        <span>Options: </span>
        <mat-checkbox
          *ngFor="let option of options | keyvalue"
          class="input-label"
          [checked]="isUpdate ? addDeskForm.get('options').get(option.key).value : 'false'"
        >
          {{option.value.name}}
        </mat-checkbox>
      </div>

        <button class="btn btn-primary" type="submit" (click)="onSubmit()">Ajouter le bureau</button>
    </div>
  </div>
</div>
