
<div class="form-container">

  <mat-card class="form-card">
    <div
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <img src="../../../assets/Logo-around-corner.png">
    </div>

    <form
      class="form"
      [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div
          fxLayout="row"
          fxLayoutAlign="space-between"
      >
        <mat-form-field>
          <input matInput formControlName="email" placeholder="Email">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Mot de passe"/>
          <button
            style="border: none"
            matSuffix
            (click)="hidePassword = !hidePassword"
          >
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <mat-form-field>
        <input matInput formControlName="adress" placeholder="Adresse">
      </mat-form-field>
      <div
        fxLayout="row"
        fxLayoutAlign="space-between"
      >
        <mat-form-field>
          <input matInput formControlName="zipCode" placeholder="Code postal">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="city" placeholder="Ville">
        </mat-form-field>
      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="space-between"
      >
        <mat-form-field>
          <input matInput formControlName="firstName" placeholder="Prénom">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="lastName" placeholder="Nom">
        </mat-form-field>
      </div>
      <mat-form-field>
        <input matInput formControlName="nationality" placeholder="Nationalité">
      </mat-form-field>
      <div
        fxLayout="row"
        fxLayoutAlign="space-between"
      >
        <mat-form-field>
          <mat-select formControlName="gender" placeholder="Genre">
            <mat-option value="M">Masculin</mat-option>
            <mat-option value="F">Féminin</mat-option>
            <mat-option value="O">Autre</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" formControlName="birthDate" placeholder="Date de naissance">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        class="register">
        <a class="register-page" style="color: #FF2768" href="/connexion">J'ai un compte</a>
      </div>
      <button class="btn btn-primary register-button" type="submit" (click)="onSubmit()">S'inscrire</button>
    </form>
  </mat-card>

</div>
