<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  class="nav-bar-container"
>
  <div>
    <img src="assets/Logo-around-corner.png">
  </div>

  <div
    fxLayout="row"
    fxLayoutAlign="none center"
  >
    <div class="input-group input-group-sm  input-container">
      <input type="text" placeholder="Ville" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm  input-container">
      <input type="number"  placeholder="Place(s)" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm  input-container">
      <input type="date" class="form-control" placeholder="Date"
             name="dp" [(ngModel)]="model" ngbDatepicker>
    </div>
    <div
      fxLayout="row"
      fxLayoutAlign="space-between"
      class="dropdown">
        <mat-label>Types</mat-label>
        <mat-select [formControl]="selectedTypes" multiple>
          <mat-option *ngFor="let type of types" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
    </div>

    <div
      style="background-color: #FF2768; color: white; padding: 5px 10px; border-radius: 20px; cursor: pointer;"
    >
      Chercher
    </div>

  </div>

  <div
    fxLayout="row"
    fxLayoutAlign="none center"
  >
    <div
      fxLayoutAlign="none center"
      fxLayout="row"
    >
      <a style="color: #FF2768">Mettre en location</a>
      <img style="height: 40px; width: 40px; margin: 0 30px" src="assets/user-profil.png">
    </div>

  </div>
</div>
