@import "src/assets/variables";

:host {
  display: block;
}

.nav-bar-container {
  cursor: pointer;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  .input-container {
    width: 95px;
    margin-right: 10px;

    input, select {
      background-color: #DAF0F8;
    }
    ::ng-deep .form-control:focus, ::ng-deep .form-select:focus {
      border-color: #7A7A7A!important;
      box-shadow: none;
    }


  }
  .dropdown {
    min-width: 150px;
    background-color: #DAF0F8;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    margin-right: 10px;

    border: 1px solid #ccc;
  }

  .dropdown-input {
    cursor: pointer;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }

  .dropdown-menu.show {
    display: block;
  }

  .dropdown-item {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
  }

  .dropdown-item label {
    margin-bottom: 0;
  }

  .dropdown-item input[type="checkbox"] {
    margin-right: 5px;
  }

  .date-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DAF0F8;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    height: 32px;
    border: 1px solid #ccc;
    margin-right: 10px;

  }
}


::ng-deep .dropdown-menu.show {
  display: block;
  margin-top: 30px!important;
}
::ng-deep .mat-mdc-form-field-subscript-wrapper {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  display: none;
}

::ng-deep .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
  padding-top: 24px;
  padding-bottom: 0;
}
::ng-deep mat-form-field-hide-placeholder .mat-mdc-select-placeholder {
  color: rgba(0,0,0,0);
  -webkit-text-fill-color: rgba(0,0,0,0);
  transition: none;
  display: none;
}
::ng-deep .cdk-overlay-pane {
  width: 200.1875px!important;
  top: 52px;
  left: 711px!important;
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration:none;
  margin-right: 10px;
}
::ng-deep .mat-mdc-option.mdc-list-item {
  text-transform: capitalize;
}
