<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  class="nav-bar-container"
>
  <div>
    <img src="assets/Logo-around-corner.png">
  </div>

  <div
    fxLayout="row"
    fxLayoutAlign="none center"
  >
    <div class="input-group input-group-sm  input-container">
      <input type="text" placeholder="Ville" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm  input-container">
      <input type="number"  placeholder="Place(s)" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm  input-container" (click)="d.toggle()">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
    </div>
    <div class="dropdown input-container">
      <button class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Options
        </button>
        <ul class="dropdown-menu">
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Default checkbox
              </label>
            </div>
          </li>
          <li>
            <a class="dropdown-item" href="#">
             Another action
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
        </ul>
    </div>
    <div class="dropdown input-container">
      <button class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Types
      </button>
      <ul class="dropdown-menu">
        <li>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
        </li>
        <li>
          <a class="dropdown-item" href="#">
            Another action
          </a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <a class="dropdown-item" href="#">Something else here</a>
        </li>
      </ul>
    </div>

    <div
      style="background-color: #FF2768; color: white; padding: 5px 10px; border-radius: 20px; cursor: pointer;"
    >
      Chercher
    </div>

  </div>

  <div
    fxLayout="row"
    fxLayoutAlign="none center"
  >
    <div
      fxLayoutAlign="none center"
      fxLayout="row"
    >
      <a style="color: #FF2768">Mettre en location</a>
      <img style="height: 40px; width: 40px; margin: 0 30px" src="assets/user-profil.png">
    </div>

  </div>
</div>
