:host {
    display: block;
}

.room-card {

    padding: 10px;
    .image-container {
        width: 300px;
        border-radius: 10px;
    
        img {
            border-radius: 10px;
        }
    
    }
}
