<h1>Vos bureaux</h1>

<section class="container" style="margin-bottom: 20px">
    <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="container" fxLayout="column" fxLayoutAlign="space-between ">
            <h5>Aucune disponibilité ajouter</h5><br>
           <app-office-card></app-office-card>  
            
        </div>

        <div id="vl"></div>

        <div class="container" fxLayout="column" fxLayoutAlign="space-between center">
            <h5>Aucune disponibilité ajouter</h5>
            
        </div>

    </div>
    <div fxLayoutAlign="center">
        <button fxLayoutAlign="center" href="#" type="submit" class="btn btn-primary"><a href="#">Ajouter un bureau</a></button>
    </div>
</section>

<h2>
    Historique
</h2>

<section class="container" style="margin-bottom: 100px;  ">
    <div class="container" fxLayout="column" fxLayoutAlign="space-between ">
        <app-office-card-history></app-office-card-history>
    </div>
</section>
