

<div  fxLayout="row" fxLayoutAlign="space-between ">
    <p>Jeudi 30 mars 2023</p>
    <p>14h21</p>
</div>


<div id="container" class="container" fxLayout="row" fxLayoutAlign="space-between center">

    <div  fxLayout="column" fxLayoutAlign="space-between ">
        <a href="#" target="_blank">
            <img class="img" src="../../assets/room.jpg">
        </a>
    </div>
    <div class="container" fxLayout="column" fxLayoutAlign="space-between ">
       <b>Part Dieu Compagny</b>
       <p>1 rue grand rue, 69001 Lyon</p>
       <br>
       <div class="container" fxLayout="row" fxLayoutAlign="space-between ">
            <button fxLayoutAlign="center" href="#" type="submit" class="btn btn-primary">Facture</button>
            <button fxLayoutAlign="center" href="#" type="submit" class="btn btn-primary">Contrat</button>
        </div>
    </div>

    <div class="container" fxLayout="column" fxLayoutAlign="center" >
        <img id="profil" class="img" src="../../assets/user-profil.png">
        <b style="text-align:center">Marty Mcfly</b>
        <p style="text-align:center">07 00 00 00 00</p>
    </div>


    <div class="container" fxLayout="column" fxLayoutAlign="flex-end" id="info">
       <br><p>Prix : 30 €</p>
       <p>Assurance annulation : Non</p>
       <p>Durée : 1J</p>
       <p>Nombre de collaborateur : 2 </p>
    </div>






   
</div> <br>