<nav fxLayoutAlign="center">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Informations personnels </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="favoris-tab" data-bs-toggle="tab" data-bs-target="#favoris" type="button" role="tab" aria-controls="favoris" aria-selected="false">Favoris</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="location-tab" data-bs-toggle="tab" data-bs-target="#location" type="button" role="tab" aria-controls="location" aria-selected="false">Vos locations</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="annonces-tab" data-bs-toggle="tab" data-bs-target="#annonces" type="button" role="tab" aria-controls="annonces" aria-selected="false">Vos annonces</button>
    </li>
  </ul>
</nav>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab"><app-profil-info></app-profil-info></div>
  <div class="tab-pane fade" id="favoris" role="tabpanel" aria-labelledby="favoris-tab">...</div>
  <div class="tab-pane fade" id="location" role="tabpanel" aria-labelledby="location-tab"><app-booking></app-booking></div>
  <div class="tab-pane fade" id="annonces" role="tabpanel" aria-labelledby="annonces-tab"><app-office></app-office></div>

</div>

