section {
    margin-top: 100px;
    background-color: #EDECEC;
    height: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin-top : 10px;
    margin-left : 100px;

}

div {
    margin-top : 20px;
    margin-left : 80px;
}