section {
    margin-top: 100px;
    background-color: #EDECEC;
    height: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin-top : 10px;
    margin-left : 100px;

}

div {
    margin-top : 20px;
    margin-left : 80px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 601px) {
  .container {
    img {
      display: none!important;
    }
    div {
      margin: 0;
      margin-top : 20px;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  /* Vos styles spécifiques pour les tablettes en mode paysage */
  .text {
    font-size: 12px!important;
  }
  h5 {
    font-size: 14px!important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* Vos styles spécifiques pour les ordinateurs portables et de bureau */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* Vos styles spécifiques pour les grands ordinateurs portables et de bureau */
}


