<div
  class="banner-container"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <div
    fxLayoutAlign="column"
    class="rent-container"
  >
    <div
      fxLayout="row"
      class="rent-type"
    >
      <div
        class="item"
      >
        Conférence
      </div>
      <div
        class="item"
      >
        Réunion
      </div>
      <div
        class="item">
        Salon
      </div>
    </div>

    <div
      class="info-container"
      fxLayout="column"
    >
      <div>

      </div>
      <div
        style="background-color: #FF2768; color: white; padding: 5px 10px; border-radius: 20px; cursor: pointer;"
      >
        Chercher
      </div>
    </div>

  </div>

  <div>
    <img src="./assets/young%20man%20with%20laptop%20on%20chair.png">
  </div>
</div>
