:host{
  display: block;
}

.banner-container{
  color: white;
  background-image: url("../../assets/main-image.png");
  height: 507px;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  .banner-text {
    font-size: 35px;
    margin-bottom: 30px;
    .text {
      -webkit-text-stroke: 1px black;
      text-stroke: 1px black;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 5px;
      margin: 0;
      margin-bottom: 2px ;
    }
  }


  .rent-container {

    padding: 20px;
    .rent-type{
      padding: 2px 5px;
      border-radius: 5px;
      .item {
        width: 100px;
        text-align: center;
        padding:  5px;
        border-radius: 5px;
        color: black;
        background-color: white;
        margin-right: 10px;
      }
    }
    .info-container {

    }
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (max-width: 600px) {

  .young-boy {
    display: none!important;
  }
  .banner-text {
    margin: 0;
    display: flex!important;
    justify-content: center!important;
    width: 100%;
    .text {
      text-align: center!important;
      font-size: 16px!important;
      -webkit-text-stroke: 1px #e1e1e1 !important;
      text-stroke: 1px white!important;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  .banner-container {
    height: 271px;
  }
}


@media only screen and (min-width: 601px) {


  .banner-text {
    font-size: 25px!important;
    margin-bottom: 20px;
  }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* Vos styles spécifiques pour les tablettes en mode paysage */

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* Vos styles spécifiques pour les ordinateurs portables et de bureau */
  .banner-text {
    font-size: 35px!important;
    margin-bottom: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* Vos styles spécifiques pour les grands ordinateurs portables et de bureau */
  .banner-container {
    padding: 0 94px!important;
    display: flex!important;
    justify-content: center!important;

    .banner-text {
      max-height: 30px!important;
    }

  }
}
