img {
    margin-left: auto;
    margin-right: auto;
    width: 150px ;
    height: 150px  ;
 
}

button {
    display: flex; 
    justify-content: center;
align-items: center;
background-clip: padding-box;
background-color: #FF2768;
border: 1px solid black;
border-radius: 15px;
box-sizing: border-box;
color: #fff;
font-size: 14px;
font-weight: 600;
line-height: 1.25;
min-height: 2rem;
padding: calc(.875rem - 1px) calc(1.5rem - 1px);
position: relative;
text-decoration: none;
transition: all 250ms;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
vertical-align: baseline;
width: auto;
margin-right: 5px;
}

