<div class="container" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="container" fxLayout="column" fxLayoutAlign="space-between ">
        <a href="#" target="_blank">
            <img class="img" src="../../assets/room.jpg">
        </a>
    </div>
    <div class="container" fxLayout="column" fxLayoutAlign="space-between ">
       <b>Part Dieu Compagny</b>
       <p>1 rue grand rue, 69001 Lyon</p>
       <br>
       <div class="container" fxLayout="row" fxLayoutAlign="space-between ">
            <button fxLayoutAlign="center" href="#" type="submit" class="btn btn-primary">Disponibilité</button>
            <button fxLayoutAlign="center" href="#" type="submit" class="btn btn-primary">Editer</button>
        </div>
    </div>
</div> <br>
<hr class="solid">